<html>
<head>
    <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <title>Thanks!</title>
</head>
<body>
    <div class="container">
        <h1>Thanks for adding your {{ newcar.getMake }}!</h1>
        <br><br>
        <p><a href="/">Back to search form.</a></p>
        <br>
        <p><a href="/sell_car">Sell another car.</a></p>
    </div>
</body>
</html>
