<html>
<head>
    <title>Sell a Car</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
</head>
<body>
    <div class='container'>
        <h1>Sell a car!</h1>

        <form action='/car_added' method='post'>
            <div class='form-group'>
                <label for='make'>Enter Name Of Car:</label>
                <input id='make' name='make' class='form-control' type='text' placeholder='Ford, Chevy, etc.'>
            </div>
            <div class='form-group'>
                <label for='price'>Enter Price:</label>
                <input id='price' name='price' class='form-control' type='number' placeholder='Enter $'>
            </div>
            <div class='form-group'>
                <label for='miles'>Enter Mileage:</label>
                <input id='miles' name='miles' class='form-control' type='number' placeholder='Enter number of miles'>
            </div>
            <div class= 'form-group'>
                <label for='photo'>Link To Photo:</label>
                <input id='photo' name='photo' class='form-control' type='text' placeholder='Link to photo'>
            </div>
            <button type='submit' class='btn-success'>Submit</button>
        </form>

        <p><a href='/'>Back to car search</a></p>
    </div>
</body>
</html>
